@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-main-ctn {
    background-image: url('../../../../public/frontend/running/Background Earlybird.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.fi-header-heading {
    @apply text-black dark:text-black
}

.fi-header-subheading {
    @apply text-black dark:text-black
}
